
[Client]
user-agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.12 Safari/535.11
timeout: 5

[Admin Jack]
email: jackriches@gmail.com

[Site Google]
url: http://www.google.com
admin: Jack
# watch_interval is optional, it defaults to 60 seconds
watch_interval: 120

[Site Reddit]
url: http://www.reddit.com
admin: Jack

[SMTP]
smtp_host: localhost
sender_name: Joe Bloggs
sender_email: joe@bloggs.com
